<app-loading *ngIf="!Book && !hasError"></app-loading>
<app-error *ngIf="!Book && hasError"></app-error>
<div *ngIf="Book && !hasError" class="content" fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign="start center"
    fxLayoutAlign.gt-sm="center start" fxLayoutGap="16px">
    <div fxFlex="50%" fxFlex.gt-sm="25%">
        <mat-card class="mat-elevation-z0">
            <img mat-card-image class="bookCover-image" [src]="Book.imagem" alt="Photo of a {{Book.nome}}">
        </mat-card>
        <mat-card class="mat-elevation-z3">
            <mat-card-header>
                <img mat-card-avatar class="author-image" *ngIf="Book.autor.imagem" [src]="Book.autor.imagem"
                    alt="Photo of a {{Book.autor.nome}}">
                <img mat-card-avatar class="author-image" *ngIf="!Book.autor.imagem"
                    src="./../../../../assets/writer.png" alt="Photo of a {{Book.autor.nome}}">
                <div class="authorName-div">{{Book.autor.nome}}</div>
            </mat-card-header>
        </mat-card>
        <br>
        <div class="row">
            <button mat-mini-fab color="primary" aria-label="Alterar livro" (click)="openUpdateBookModal()">
                <mat-icon>edit</mat-icon>
            </button>
            &nbsp;
            <button mat-mini-fab color="warn" aria-label="Apagar livro">
                <mat-icon>delete</mat-icon>
            </button>
        </div>
    </div>
    <div fxFlex="50%" fxFlex.gt-sm="75%">
        <mat-card class="mat-elevation-z0">
            <div class="row">
                <span class="mat-display-1 uppercase-text">{{Book.nome}}</span>
                <br>
                <span class="bookInfo-span">{{Book.editora}}</span>
                <br>
                <span *ngIf="Book.paginas" class="bookInfo-span">{{Book.paginas}} páginas</span>
            </div>
            <div *ngIf="Book.isbn10 || Book.isbn13" class="row">
                <br>
                <span *ngIf="Book.isbn10" class="bookInfo-span"><b class="bookISBN-bold">ISBN-10: </b>
                    {{Book.isbn10}}</span>
                &nbsp;
                <span *ngIf="Book.isbn13" class="bookInfo-span"><b class="bookISBN-bold">ISBN-13: </b>
                    {{Book.isbn13}}</span>
            </div>
            <br>
            <div class="row">
                <p class="bookSynopsis-p">{{Book.sinopse}}</p>
            </div>
        </mat-card>
    </div>
</div>