<app-loading *ngIf="!Book"></app-loading>
<div *ngIf="Book" class="content" fxLayout="row wrap" fxLayoutGap="16px grid">
    <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%">
        <mat-card class="mat-elevation-z0">
            <img mat-card-image class="bookCover-image" [src]="Book.imagem" alt="Photo of a {{Book.nome}}">
        </mat-card>
    </div>
    <div fxFlex="75%" fxFlex.xs="100%" fxFlex.sm="67%">
        <mat-card class="mat-elevation-z0">
            <div class="row">
                <span class="mat-display-1 uppercase-text">{{Book.nome}}</span>
                <br>
                <span class="bookInfo-span">{{Book.editora}}</span>
                <br>
                <span class="bookInfo-span">{{Book.paginas}} páginas</span>
            </div>
            <div *ngIf="Book.isbn10 || Book.isbn13" class="row">
                <br>
                <span class="bookInfo-span"><b class="bookISBN-bold">ISBN-10: </b>
                    {{Book.isbn10}}</span>
                &nbsp;
                <span class="bookInfo-span"><b class="bookISBN-bold">ISBN-13: </b>
                    {{Book.isbn13}}</span>
            </div>
            <br>
            <div class="row">
                <p class="bookSynopsis-p">{{Book.sinopse}}</p>
            </div>
        </mat-card>
    </div>
    <div class="positionCardAuthor" fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%">
        <mat-card class="mat-elevation-z3">
            <mat-card-header>
                <img mat-card-avatar class="author-image" [src]="Book.autor.imagem"
                    alt="Photo of a {{Book.autor.nome}}">
                <div class="authorName-div">{{Book.autor.nome}}</div>
            </mat-card-header>
        </mat-card>
    </div>
</div>