<div class="content" fxLayout="row wrap" fxLayoutGap="16px grid">
    <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%">
        <mat-card class="mat-elevation-z0">
            <img mat-card-image class="bookCover-image"
                src="https://images-na.ssl-images-amazon.com/images/I/81DqC4mENLL.jpg" alt="Photo of a Shiba Inu">
        </mat-card>
    </div>
    <div fxFlex="75%" fxFlex.xs="100%" fxFlex.sm="67%">
        <mat-card class="mat-elevation-z0">
            <div class="row">
                <span class="mat-display-1" style="text-transform: uppercase;">Doutor Sono</span>
                <br>
                <span style="font-size: 14px; color: rgb(120,120,120)">Suma das Letras</span>
                <br>
                <span style="font-size: 14px; color: rgb(120,120,120)">520 páginas</span>
            </div>
            <br>
            <div class="row">
                <span style="font-size: 14px; color: rgb(120,120,120)"><b style="color: rgb(115,115,115);">ISBN-10: </b>
                    8581052436</span>
                &nbsp;
                <span style="font-size: 14px; color: rgb(120,120,120)"><b style="color: rgb(115,115,115);">ISBN-13: </b>
                    978-8581052434</span>
            </div>
            <br>
            <div class="row">
                <p style="text-align: justify; text-justify: inter-word;">Mais de trinta anos depois, Stephen King
                    revela a seus leitores o que
                    aconteceu a Danny Torrance,
                    o garoto no centro de O iluminado, depois de sua terrível experiência no Overlook Hotel. Em Doutor
                    Sono, King dá continuidade a essa história, contando a vida de Dan, agora um homem de meia-idade, e
                    Abra Stone, uma menina de doze anos com um grande poder. Assombrado pelos habitantes do Overlook
                    Hotel, onde passou um ano terrível da infância, Dan ficou à deriva por décadas, desesperado para se
                    livrar do legado de alcoolismo e violência do pai. Por fim, ele se instala em uma cidade de New
                    Hampshire, onde encontra abrigo em uma comunidade do Alcoólicos Anônimos que o apoia e um emprego em
                    uma casa de repouso, onde seu poder remanescente da iluminação fornece o conforto final para aqueles
                    que estão morrendo. Ajudado por um gato que prevê a morte dos pacientes, ele se torna o Doutor Sono.
                    Então Dan conhece Abra Stone, uma menina com um dom espetacular, a iluminação mais forte que já se
                    viu. Ela desperta os demônios de seu passado e Dan se vê envolvido em uma batalha pela alma e
                    sobrevivência dela. Uma guerra épica entre o bem e o mal, uma sangrenta e gloriosa história que vai
                    emocionar os milhões de fãs de O Iluminado e satisfazer os leitores deste novo clássico da obra de
                    King.</p>
            </div>

        </mat-card>
    </div>
    <div style="margin-top: -30px;" fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%">
        <mat-card class="mat-elevation-z3">
            <mat-card-header>
                <img mat-card-avatar class="author-image"
                    src="https://images-na.ssl-images-amazon.com/images/I/81DqC4mENLL.jpg" alt="Photo of a Author">
                <div style="font-size:16px;margin-top: 10px;margin-left: -20px;">Stephen King</div>
            </mat-card-header>
        </mat-card>
    </div>
</div>