<div class="content" fxLayout="row wrap" fxLayoutGap="16px grid">
    <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let num of [1,2,3,4,5,6,7]">
        <mat-card class="mat-elevation-z4">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>André Vianco</mat-card-title>
                <mat-card-subtitle>Leya</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="https://images-na.ssl-images-amazon.com/images/I/817o4plq3eL.jpg"
                alt="Photo of a Book">
            <mat-card-content>
                <span class="mat-h2">Penumbra</span>
                <p>
                    André Vianco nos apresenta à Lana, uma menina teimosa e decidida, que, quando acorda na Penumbra, um
                    lugar misterioso, descobre que precisará deixar para trás tudo o que mais ama. Ao se recusar, ela
                    desafiará a Penumbra e sua guardiã, a babá Osso Duro, uma mulher velha e seca, dona de um sorriso
                    cadavérico e assustador.
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button>GOSTEI</button>
                <button mat-button>NÃO GOSTEI</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>