.author-image {
    background-size: cover;
}

.content>mat-card {
    width: 200px;
}

.bookCover-image {
    height: 400px;
}

.routerLinkBook{
    cursor: pointer;
}

.routerLinkBook:hover{
    text-decoration: underline;
}